@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.navigationbar{
  display: flex;
  gap: 20%;
  }
.list{
display: inline-block;
margin: 20px;
color: white;
font-weight: 700;
gap: 100px;
font size: 16px;
text-decoration: none;
}
#navbarsection .container-fluid{
  background-color: rgb(226, 43, 134);
}
.header{
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.logo{
    cursor: pointer;
}
.list{
    list-style:none ;
}
.list li,a{
    display: inline-block;
    padding: 0px 20px;
    margin 
    }
}
.list li,a :hover {
        color: white;
        cursor: pointer;
        transition: all 0.3s ease os;
}
button{
    padding 9px 25px
background-color: rgba(0,136,169,1);
border:none;
border:radius 60px;
cursor:pointer;
transition: all 0.3s ease os;
}
button: :hover{
    background-color: rgba(0,136,169,0.8);
}
 .About{
          width:100px  
          display: block;
          background-color: rgb(226, 43, 134);
          color:white;
          text-align: center;
          font-weight: 400;
      }
      .About h1{
          font-size: 70px;
          font-weight: 800;
          cursor: pointer;
          transition:all 0.3s ease os;
          text-align: center;
      }
      .body{
          margin: 20px;
          border: 20px;
          padding: 6px;
          text-align: center;
          line-height: normal;
          font-size: 40px;
      }
     